*{
    padding: 0;
    text-decoration: none;
    margin: 0;

}

body {
    margin: 0;
    overflow-x: hidden;

}

main {
    width: 100%;
    
}


/**** Emplacement header ****/
/***** Navbar *****/

.nav-item {
    padding-left: 2%;

}

.nav-item a {
    color: rgb(111, 161, 111);
    font-style:italic ;
    font-weight:500;

}



.nav-link {
    color: rgb(111, 161, 111);

}

.container-fluid {
    background-color: rgb(249, 250, 249);
    padding-bottom: 15px;
    padding-top: 10px;
    /*position: fixed;*/
}

/**** Fin navbar ***/

/**** Début du slogan ******/


.carousel-item img {
    height: 700px;
    filter: saturate(30%);
}
    

.slogan h1 {
    font-family:Arial, Helvetica, sans-serif ;
    text-align:center;
    text-transform: uppercase;
    margin-top: 3%;
    color: rgb(45, 85, 58);

}


.slogan p {
    font-family:Arial, Helvetica, sans-serif ;
    text-align:center;
    font-size: 25px;
    font-style: italic;
    color: rgb(111, 161, 111);
    background-color: rgb(250, 250, 252);


}


.texte h3 {
    margin-top: 3%;
    font-size: 22px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: center;
    margin-bottom: 5%;
}


/****** FIN du header *****/

/****** DÉBUT DU BLOG *****/

#blog {
    background-color:rgb(236, 249, 236);
    padding-bottom:4% ;
}


#blog img {
    margin-top: 5%;
    margin-left: 3%;
}


#blog h3 {
    margin-left: 10%;
    margin-top: 5%;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
}


#blog p {
    margin-left: 10%;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif

}


.defis img  {
    width: 600px;
    height: 380px;
    margin-left: 3%;
}

/*** FIN DU BLOG ******/

/**** Début Action ******/


.divers {
    text-align: center;
    margin-top: 3%;
}


.divers img {
    margin-top: 3%;
}



.button {
    text-align: center;
}


.button a {
    background-color: green;
    margin-top: 5%;
    
}


#monde {
    margin-top: 5%;
    text-align: center;

}


.texte1 {
    text-align: center;
    margin-top: 4%;
}


.texte1 p {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-style: italic;
    font-size: 18px;
}


.texte1 h3 {
    font-weight:bold ;
    font-size: 40px;
    color: rgb(16, 19, 37);
    padding-top: 2%;
}



.titlee h4 {
    margin-top: 5%;
    text-align: center;
    color: rgb(7, 7, 145);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}


.titlee p {
    margin-left: 15%;
    margin-right: 15%;
    padding-top: 1%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-style: italic;
    font-size: 18px;

}

/****** Fin Action ****/

/****** Début Form. *****/

.contactez {
    padding-top: 3%;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(111, 161, 111);

}


.contactez :hover {
    cursor: pointer;
    animation-direction: normal;
    color: rgb(45, 85, 58);

}


#Contact {
    text-align: center;
}


.formule1 form {
    margin-top: 3%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(242, 247, 245);

}

/******* Fin du Form. ******/

/****** Début pied de page ******/

footer {
    width: 100%;
    margin-top: 2%;
    background-color: rgb(146, 195, 146);

}


footer .logoo  {
    display: flex;
    flex-direction: row-reverse;
    margin-right: 1%;
    
}


footer p {
    text-align: center;
    color: rgb(12, 11, 11);
    margin-bottom: 0%;
}


footer .mention {
    color: rgb(12, 11, 11);
    text-decoration: none;
}


.mention a {
    color: rgb(12, 11, 11);
    margin-right: 1%;
    
}



.logoo a :hover {
    background-color:white ;
}


.logoo a {
    margin-right: 1%;
    width: 30px;
    
}


.logoo p {
    margin-right: 1%;

}

/****** fin pied de page *****/

@media screen and (max-width:768px) {
    .carousel-item img {
        height: 250px;

    }
    
}


@media  screen and (max-width:768px) {
    .texte h3 {
        font-size: 18px;
    }

    #blog img {
        width: 350px;
        height: 200px;
    }
    
}


@media screen and (max-width:768px) {
    form .row {
        margin-left: 0;
    }
    
}